# Q1 function to take a number ass parameter and  print True if given number is even else print False

In [1]:
def even_odd(n):
    'print even odd'
    if(n%2==0):
        return True
    else:
        return False
        
even_odd(10)

True

# Q 2function to take list as parameter and print all numbers of given list which are divisible by 11

In [31]:
def num(list_1):
    'number divisible by 11'
    for e in list_1:
        if(e%11==0):
            print(e)
            
num([11,22,45,90,88])

11
22
88

# Q3 function to take string as parameter
Check if string is palindrome are not
If palindrome return 1
if not palindrome return 0

In [8]:
def palindrome(n):
    'string is palindrome or not'
    if n[::]==n[::-1]:
#         print("string is palindrome")
          return 1
         
    else:
#         print("string is not palindrome")
          return 0
n=input("enter the string: ")        
palindrome(n)

enter the string: fvfs

0

# Q4 function to check if number is prime or not. Return True if number is prime a

In [9]:
def prime_no(n):
    if n < 2:
        return False
    else:
        for i in range(2, int(n ** 0.5) + 1):
            if n % i == 0:
                return False
        return True
    
prime_no(31)

True

# Q 5function to take a string as parameter. Print its alternate characters starting from 2nd character

In [10]:
def palindrome(s):
    'print alternate character'
    print(s[1::2])
    
s=input("enter the string: ")        
palindrome(s)

enter the string: vfsno
fn

# Q6 function to take dictionary as parameter. Print all keys of the dictionary

In [39]:
def print_keys(d1):
    'print keys of dictionary'
    for key in d1:
        print(key)
    print(list(d1.keys()))
    print(list(d1.values()))
    
d={"k1":45,"k2":67,"k3":89,100:10}
print_keys(d)

k1
k2
k3
100
['k1', 'k2', 'k3', 100]
[45, 67, 89, 10]

# Q7 function to take a dictionary as parameter. Print value of key "name" if key "rollno" is having value 100.

In [14]:
def print_keys(d1):
    '''print keys of dictionary'''
    for key in d1:
        if(d1.values==100):
            print(d1.key)
    
d={"sagar":45,"harsh":67,"viraj":89,"rahul":100}
print_keys(d)

In [12]:
def print_keys(d1):
    'print keys of dictionary'
    if d1["rollno"]==100:
        print(d1['name'])
        
d={'name':'iacsd','rollno':100}
print_keys(d)

iacsd

# Q 8write a function to take dictionary as parameter 
print values of key 'price' if key item is milk

In [50]:
def print_keys(d1):
    'print keys of dictionary'
    if d1["product"]=='milk':
        print(d1['price'])
        
d={'product':'milk','price':50}
print_keys(d)

50

# Q9 function to list of strings as parameter and print all strings which have character 's' 2 times

In [17]:
def strings_list(list1):
    'occurences of ss in list of string'
    for e in list1:
        if e.count('s')>=2:
            print(e)
l=["sangamesh","sukesh","sagar","sasha"]
strings_list(l)

sangamesh
sukesh
sasha

# Q10 WA function to take list of dictionaries. Print all dictionaries which contain key "id".

In [55]:
def list_dict(list1):
    ' Print all dictionaries which contain key "id"'
    for d in list1:
        if 'id' in d.keys():
            print(d)
    
    
    
l=[{'bookid':123,'bookname':"pyhton"},
   {'id':345,'name':'abcd','college':'iacsd'},
   {'movieid':345,'moviename':'xyz'},
   {'name':'abcd','college':'pune','id':89}]
list_dict(l)

{'id': 345, 'name': 'abcd', 'college': 'iacsd'}
{'name': 'abcd', 'college': 'pune', 'id': 89}

1. Write function which takes two parameters account no and name of the user.
Check if the account number is valid. Account no is valid only if it is a 4 digit number less than 5000
Check if the name is valid. Name is valid if all characters are alphabets and no numbers or special chars in the name
If both name and 'acc no' are valid return True 
If acc no is invalid return a message string saying “Account no is invalid”
if name is invalid return None