Q Sort all the numbers in a list in descending order using lambda function

In [66]:
ls1 = [3,8,6,7,9,1,45,4,5,855,5]
ls1.sort(reverse =True, key=lambda n:n)
print(ls1)

[1, 3, 4, 5, 5, 6, 7, 8, 9, 45, 855]

Q Sort all the characters of given string using lambda function

In [13]:
string = "ivjasnfkjvnfsl"
sort_str = sorted(string,key=lambda s:s)
print(sort_str)

['a', 'f', 'f', 'i', 'j', 'j', 'k', 'l', 'n', 'n', 's', 's', 'v', 'v']

Q Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [14]:
ls_s = ['harsh','adarsh','rutuja','mayuri','shivani','vishal','rajesh','mahadev']
ls_s.sort(reverse=False,key=lambda s:s[-1])
print(ls_s)

['rutuja', 'harsh', 'adarsh', 'rajesh', 'mayuri', 'shivani', 'vishal', 'mahadev']

Q Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [36]:
lis_emp = ['harsh','adarsh','rutuja','rutuja','vishal','mahadev','harsh','adarsh']
a = sorted(lis_emp, key=lambda b:b[1])
set(a)  # why does print(set(a)) and just set(a) gives different outputs)

{'adarsh', 'harsh', 'mahadev', 'rutuja', 'vishal'}

Q. Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id . Also print all employees in alphabetical order by name.

In [65]:
emp_dict = {}
for i in range(5):
    a = input("enter a id")
    b = input('enter a name')
    emp_dict[a] = b

# emp_dict = {'6': 'rahul', '3': 'surya', '1': 'sagar', '5': 'fvnals', '8': 'lmvkv'}

enter a id1
enter a namename
enter a id4
enter a nameyash
enter a id2
enter a nameharshal
enter a id7
enter a nameruturaj
enter a id5
enter a namevishal
{'1': 'name', '4': 'yash', '2': 'harshal', '7': 'ruturaj', '5': 'vishal'}

Q. Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

In [54]:
a = list(input().split(","))
a = list(map(lambda a:float(a),a))
print(a)

1,2,6,4,8,5,7
[1.0, 2.0, 6.0, 4.0, 8.0, 5.0, 7.0]

Q Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [49]:
ls_f = [1.0,2.2,3.4,5.8,8.1,9.0,5.6,7.7,8.5,5.2]
a = "|".join(list(map(lambda x: str(x), ls_f)))
print(a)
print(type(a[0]))

1.0|2.2|3.4|5.8|8.1|9.0|5.6|7.7|8.5|5.2
<class 'str'>

Q Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [43]:
ls_i = [1,2,3,5,8,9,5,7,8,5]
a = list(map(lambda x:x**2, ls_i)) 
# a = map(lambda x:x**2, ls_i)
print(a) #why does above hashed line gives output like <map object at 0x7feb30402f50>

[1, 4, 9, 25, 64, 81, 25, 49, 64, 25]