## Q1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [1]:
aList = [100, 200, 300, 400, 500]
bList = aList[-1::-1]
print(bList)

[500, 400, 300, 200, 100]

## Q2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [13]:
l1  = [ele for ele in range(150,251) if (ele % 2 == 0)]
print(l1)
print()
print("length is",len(l1))

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

length is 51

In [14]:
l2 = [e for e in l1 if e % 4 == 0]
print(l2)

[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

## Q3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [19]:
cList = [1, 4, 9, 16, 25, 36, 49]
dList = [int(d ** 0.5) for d in cList]
print(dList)

[1, 2, 3, 4, 5, 6, 7]

## Q4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [66]:
list1 = [5, 6,7] 
list2 = [0, 1]
op = []
for i in list1:
    for jk in list2:
        print(str(i)+str(jk), end=",")

50,51,60,61,70,71,

## Q5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [23]:
po1 = [10,20,30,40]
# po2 = [100,200,300,400]
# po2 = (1,2,3,4)
po2 = "iacsd"
mn = po2[::-1]
for i,j in zip(po1, mn):
    print(i,j)

10 d
20 s
30 c
40 a

## Q6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [83]:
li1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"] 
for r in li1:
    if(r == ""):
        li1.remove(r)
print(li1)

['Ashish', 'Atharva', 'Amit', 'Revati']

## Q7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [57]:
lt1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lt1[2][2].append(7000)

In [58]:
print(lt1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Q8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n'] 

solution
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

In [85]:
st1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
slist = ["h", "i", "j"]

In [86]:
st1[2][1][2].extend(slist)

In [87]:
print(st1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Q9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [121]:
poi = [5, 10, 15, 20, 25, 50, 20]
ind = poi.index(20)
poi[ind] = 200
print(poi)
    
#index function use

[5, 10, 15, 200, 25, 50, 20]

## Q10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [36]:
st1 = [5, 20, 15, 20, 25, 50, 20]
for g in st1:
    if (g == 20):
        st1.remove(g)
print(st1)

[5, 15, 25, 50]

In [123]:
#another way
st6 = [5, 20, 15, 20, 25, 50, 20]
for idx , g in enumerate(st6):
    if (g == 20):
        st6.pop(idx)
print(st6)

[5, 15, 25, 50]

## Q11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [120]:
num234 =input("enter a no")
print(num234)
pouy = list(num234)
pouy.sort()
asdfg = "".join(pouy)
print("Min number is :",asdfg)
maxi = asdfg[::-1]
print("MAximum is -",maxi)

enter a no8965
8965
Min number is : 5689
MAximum is - 9865

## Q12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [45]:
import itertools

In [63]:
asd = list(input("enter a no"))
print(asd)

enter a no4528
['4', '5', '2', '8']

In [66]:
a = list(itertools.permutations(asd, 1))
b 
print(a)

[('4',), ('5',), ('2',), ('8',)]

## Q1.	Take a list of integers. Every time you can select the first element or last element.
Always next number selected should be less than or equal to the currently selected number. If no number can be selected to fulfill all conditions then return False. If all elements are completed using the selection criteria then print True. You have to try all the combinations possible before conclusion.

Ex. 
L=[1,2,3,4,5]

We can select 1 or 5 at step 1
Assume, First 5 is selected (last element)
Then, [1,2,3,4]we can select 1 or 4,  we will select 4 because 4<5
Then [1,2,3] we can select 1 or 3, so select 3 because 3<5

Like this we can select 5,4,3,2,1 and all elements are selected so print True
But if we select 1 then we cannot select further elements
Because, after selecting 1 list will be [2,3,4,5] and first 2 and last 5 both are greater than 1

So, when selecting first element use the right choice so that there can be possibility of selection of all elements

L=[1,3,2]

We can select 1 or 2 at step1
Assume we select 1,
Then [3,2] so we can select 3 or 2 but both are greater than 1
So, there is no way we can completely select all elements

Assume we select 2,
Then [1,3], so we can select 1 or 3, we select 1 because 1<2,
Then [3], so we can ONLY select 3 but 3 is greater than 1

So print False, because in all options we cannot select all elements from the list

In [26]:
# op1 = [6,34,39,8,91]
op1 = [1,3,2]
tmp1 = float('inf')
while(True):
    if(len(op1) != 0):
        if(op1[0] >= op1[-1] and op1[0] <= tmp1):
            tmp1 = op1[0]
            op1.pop(0)
#             op1.remove(tmp1)
            continue
        elif(op1[-1] >= op1[0] and op1[-1] <= tmp1):
            tmp1 = op1[-1]
            op1.pop(-1)
#             p1.remove(tmp1)
            continue
        else:
            print("False")
            print(op1)
            break
    else:
        print("True")
        print(op1)
        break

False
[1, 3]

In [27]:
# op1 = [6,34,39,8,91]
# # op1 = [1,2,3,4,5]
# # op1 = [5,4,3,2,1] 
# # op1 = [1,3,2]
# tmp1 = float('inf')
# while(True):
#     if(len(op1) != 0):
#         if(op1[0] >= op1[-1] and op1[0] <= tmp1):
#             tmp1 = op1[0]
#             op1.remove(tmp1)
#             continue
#         elif(op1[-1] >= op1[0] and op1[-1] <= tmp1):
#             tmp1 = op1[-1]
#             op1.remove(tmp1)
#             continue
#         else:
#             print("False")
#             print(op1)
#             break
#     else:
#         print("True")
#         print(op1)
#         break

## more optimised for Q12

In [44]:
op1 = [6,34,39,8,91]
# op1 = [1,2,3,4,5]
tmp1 = float('inf')
while(True):
    if(len(op1) != 0):
        a = max(op1[0],op1[-1])
        if(a<tmp1):
            op1.remove(a)
            tmp1 = a
        else:
            print("False")
            break
    else:
        print("True")
        break

False