## Q3.WAP to print the odd numbers from 1 to 99. Prints one number per line.

In [5]:
for i in range(1,100):
    if(i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Q4. WAP  to accept a number and check the number is even or not. Prints 1 if the number is even or 0 if the number is odd.

In [9]:
numb = int(input("enter a number"))
if(numb%2==0):
    print("1")
else:
    print("0")

enter a number5
0

## Q5.WAP to print numbers between 1 to 100 which are divisible by 3, 5 and by both
( total 3 list of numbers to be printed)

In [13]:
ls1 = []
ls2 = []
ls3 = []
for idk in range(1,100):
    if(idk%3==0):
        ls1.append(idk)
    if(idk%5==0):
        ls2.append(idk)
    if(idk%5==0 and idk%3==0):
        ls3.append(idk)
print("divisible by 3:=",ls1)
print("divisible by 5:=",ls2)
print("divisible by both:=",ls3)

divisible by 3:= [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
divisible by 5:= [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
divisible by both:= [15, 30, 45, 60, 75, 90]

## Q6.WAP that accepts three integers from the user and return true if two or more of them (integers ) have the same rightmost digit. The integers are non-negative

In [4]:
num1 = 100
num2 = 141
num3 = 121


if(num1%10 == num2 % 10 == num3 % 10):
    print("True")
else:
    print("f")

f

## Q7 WAP to convert input number of seconds to HH:MM:SS.

In [49]:
num = 1656856865
mm,ss = divmod(num,60)
if mm>60:
    hh,mm = divmod(mm,60)
else:
    hh=0
if hh>24:
    dd,hh=divmod(hh,24)
else:
    dd=0
if dd>30:
    month,dd = divmod(dd,30)
else:
    month = 0
if month>12:
    yy, month = divmod(month,12)
else:
    yy = 0
print(yy,"years :",month,"months :",dd,"days :",hh,"hours :",mm,"minuits :",ss,"seconds")

53 years : 3 months : 6 days : 14 hours : 1 minuits : 5 seconds

## 8.WAP to print all leap years between 2000 to 2100. Apply all conditions of checking leap year ( (divisible by 4 and not divisible by 100) OR (divisible by 400))

In [ ]:
#range bound leap year check code
year = int(input("enter a year between 2000- 2100"))
if not(2100 < year < 2000):
    print("enter number between 2000 and 2100")
else:
    if((year%4==0) and ((year % 100 == 0) and (year % 400 == 0))):
        print(True)
    else:
        print(False)

enter a year between 2000- 2100565

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [16]:
#normal leap year code using function 
year = int(input("enter a year between 2000- 2100"))
def leap_year(year):    
    if((year%4==0) and ((year % 100 == 0) and (year % 400 == 0))):
        return True
    else:
        return False
print(leap_year(year))

enter a year between 2000- 21001565
False

## 9.WAP to print calender for a month. Take how many days are there in month and starting day of the month as input
    Ex. input no of days : 30  starting day of month : Thursday
    Ouput :: Day wise Calender  ( just like June 2022 month)

In [72]:
# n = int(input("Enter number of days: "))
# s = input("Enter the starting day of the week (e.g. Monday, Tuesday, etc.): ")

# # Create list of weekdays starting from the given starting day
# weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
# start_day = weekdays.index(s.capitalize())
# days = weekdays[start_day:] + weekdays[:start_day]

# # Print calendar
# print(" ".join(days))
# for i in range(1, n + 1):
#     if (i + start_day - 1) % 7 == 0:
#         print(i)
#     else:
#         print(i, end=" ")
# print()

Enter number of days: 31
Enter the starting day of the week (e.g. Monday, Tuesday, etc.): Monday
Monday Tuesday Wednesday Thursday Friday Saturday Sunday
1
2 3 4 5 6 7 8
9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

## Factorial of a number using loop
    n! = n * (n-1) * (n-2) * ... *2*1

In [24]:
fact = int(input("enter a number for factorial"))
fac = 1
if fact<1:
    print("enter a number >=1")
else:
    for i in range(1,fact+1):
        fac = fac*i
    print(fac)

enter a number for factorial02
2

## Fibonacci Series.
    1,1,2,3,5,8,13,21,34,...

In [20]:
num1 = 0
num2 = 1
n = int(input("how many next numbers of fibonacci series u want"))

for i in range(n):
    next_num = num2 + num1
    num1, num2 = num2,next_num
    print(next_num)

#++++++++++++if you want the exact number from the series+++++++++++
# for i in range(n):
#     next_num = num2 + num1
#     num1, num2 = num2,next_num
#     if i==(n-2):    
#         print(next_num)

how many next numbers of fibonacci series u want12
1
2
3
5
8
13
21
34
55
89
144
233

## Armstrong Number.
    It is a number with 'n' digits. Here (sum of every digit ^ n) equal to ( number itself)

    1) 1^3 5^3 3^3=153 ( here number of digits(n) is 3)
    2) 1^1 = 1 ( here number of digits is 1)
    3) 1634 = 1^4 + 6^4 + 3^4 + 4^4 ( here number of digits is 4)

In [11]:
a = input("enter a number to check if its an amrmstrong or not: ")
sum = 0
for i in a:
#     print(i)
    sum =  sum + (int(i)**len(a))
    
if int(a)== sum:
    print("its an armstrong number")
else:
    print("its not an armstrong number")
    
    
#++++++++++++++++++++++++++++++++++++++++++++++++
#using a function as well
# def armstrong(n):
#     sum = 0
#     for i in a:
#     #     print(i)
#         sum =  sum + (int(i)**len(a))

#     if int(a)== sum:
#         return print("its an armstrong number")
#     else:
#         return print("its not an armstrong number")
        
# armstrong(a)

enter a number to check if its an amrmstrong or not: 152
its not an armstrong number

## Perfect sqaure WAP to check if a number is perfect square ot not.

## 3. Write a Python program to count the elements in a list until an element is a tuple.
Sample input : list = [10, 20, 30, (40,50), 60]
Sample output = 3

In [36]:
list1 = [10, 20, 30, 60, (40,50)]
cnt = 0
for i in list1:
    if type(i) == tuple:
        break
    else:
        cnt +=1
print(cnt)

4

## Q. 3. Define a function overlapping () that takes two lists and returns True if they have at least one
member in common, False otherwise.

In [71]:
ls1 = [1,2,4,6,8,4]
ls2 = [7,5451,8,654,165,4,165]
for i in ls1:
#     print(i)
    if i in ls2:
        print("match found",i," is present in second list") 
        break
    else:
        print("no match found")
        continue`

no match found
no match found
match found 4  is present in second list

In [ ]:
# ls1 = [1,2,4,6,8]
# ls2 = [7,5451,8,654,165,4,165]
# for i in ls1:
# #     print(i)
#     for j in ls2:
#         if i==j:
#             print("match found",i," is present in second list",ls2) 
#             break
#         else:
# #             print("no match found")
#             continue

## Q. 2. Define a procedure histogram() that takes a list of integers and prints a histogram to the screen.

In [32]:
# For example, histogram([4, 9, 7]) should print the following:
# ****
# *********
# *******
ls = [1,5,8,6]
def histogram(ls):
    for i in ls:
        print(i*"*")
histogram(ls)

*
*****
********
******

## Find duplicate characters in a string.

In [35]:
s = "hivanjskvlfa"
repeated = set()
for i in s:
    if s.count(i) >=2:
#         print(i)
        repeated.add(i)
print("duplicate characters are ",repeated)

#++++++++++++++++++++=

duplicate characters are  {'a', 'v'}

## Check Palindrome string.

In [34]:
s1 = "abfas"
if s1 == s1[::-1]:
    print("pallindrome")
else:
    print("not a pallindrome string")

not a pallindrome string

## Check Palindrome number

In [48]:
num1 = 121

if str(num1)==str(num1)[::-1]:
    print("its a pallindrome number")
else:
    print("its not a pallindrome

['121']

## Reverse a string.

## Reverse a number.

## Permutation and Combination Program

## Q22. Take a number from user. Print highest number possible using all digits once from given number

In [26]:
n = list(input("enter a number"))
n.sort()
# print(n)
a = "".join(n)
maximum = a[::-1]
print("maximum number possible is",maximum)

enter a number653446896
maximum  986665443

## Q24. print table of any given number 
    2,4,6,8,10,12,14,16,18,20

In [15]:
n = int(input("enter any number"))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

enter any number89
89 * 1 = 89
89 * 2 = 178
89 * 3 = 267
89 * 4 = 356
89 * 5 = 445
89 * 6 = 534
89 * 7 = 623
89 * 8 = 712
89 * 9 = 801
89 * 10 = 890

## WAP for doing bubble sort of given numbers

In [90]:
ls3 = [65,7,4,3,1,23,45,77]
for i in range(len(ls3)-1):
    for j in range(len(ls3)-i-1):
#         print(i,j)
        if ls3[j] > ls3[j+1]:
            ls3[j],ls3[j+1]=ls3[j+1],ls3[j]
            print(ls3)
#         else:
# #             break
            continue
#     if i>(ls3.index(i)+1):
#         ls3[ls3.index(i)]=(ls3.index(i)+1)
#     print(i)
print(ls3)

[7, 65, 4, 3, 1, 23, 45, 77]
[7, 4, 65, 3, 1, 23, 45, 77]
[7, 4, 3, 65, 1, 23, 45, 77]
[7, 4, 3, 1, 65, 23, 45, 77]
[7, 4, 3, 1, 23, 65, 45, 77]
[7, 4, 3, 1, 23, 45, 65, 77]
[4, 7, 3, 1, 23, 45, 65, 77]
[4, 3, 7, 1, 23, 45, 65, 77]
[4, 3, 1, 7, 23, 45, 65, 77]
[3, 4, 1, 7, 23, 45, 65, 77]
[3, 1, 4, 7, 23, 45, 65, 77]
[1, 3, 4, 7, 23, 45, 65, 77]
[1, 3, 4, 7, 23, 45, 65, 77]

## Write a  program to swap two variables
a. by using a temporary variable
b. using arithmatic operation and not using a variable
c. without using variable ( using python unpacking syntax)

In [94]:
a = 30
b = 23
print(a,b)
c= a
a = b
b = c
print(a,b)
print("+++++++++++++++++++++++++++++++++")
a = a+b
b = a-b
a = a-b
print(a,b)
print("after using unpacking")
a,b = b,a
print(a,b)

30 23
23 30
+++++++++++++++++++++++++++++++++
30 23
after using unpacking
23 30